.btn {
    padding: 16px 48px;
    display: inline-block;
    font-size: 18px;
    @include border-radius(32px);
    @include transition(.3s);

    &__primary {
        @extend .btn;
        background: $color-primary-gradient;
        color: $color-primary-text;
        font-size: 18px;
        line-height: 156%;
        font-weight: 400;
        letter-spacing: 0.6px;
        &:hover{
            filter: brightness(1.1);
        }


        &--border {
            @extend .btn;
            background: transparent;
            border: 1px solid white;
            color: white;

        }
    }
}